---
import MainLayout from "../layouts/main-layout.astro";
import Section from "../components/section.astro";
---

<MainLayout title="About me">
  <Section title="About me">
    <a href="/">Go back</a>
  </Section>
</MainLayout>
