---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/main-layout.astro";
import BlogList from "../components/blog-list.astro";
import Section from "../components/section.astro";

const allBlogPosts = await getCollection("blog");
---

<MainLayout title="Blog">
  <Section title="Blog">
    <BlogList posts={allBlogPosts} />
  </Section>
</MainLayout>
