---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/main-layout.astro";
import BlogList from "../components/blog-list.astro";

const allBlogPosts = await getCollection("blog");
console.log(allBlogPosts);
---

<MainLayout>
  <h1>Blog</h1>
  <BlogList posts={allBlogPosts} />
</MainLayout>
