---
import MainLayout from "../components/layouts/main-layout.astro";
---

<MainLayout title="Home">
  <div class="grid place-items-center min-h-screen">
    <h1 class="text-4xl font-bold">Work in progress</h1>
  </div>
</MainLayout>
