---
import FeaturedProject from "../components/featured-project.astro";
import Hero from "../components/hero.astro";
import ProjectList from "../components/project-list.astro";
import Section from "../components/section.astro";
import Separator from "../components/separator.astro";
import MainLayout from "../layouts/main-layout.astro";
import projects from "../data/projects.json";
---

<MainLayout>
  <Section>
    <Hero />
  </Section>
  <Separator />
  <Section title="Featured Project">
    <FeaturedProject
      title="FIFA World Cup 2022 Qatar Album Tracker"
      description="A web application to track the FIFA World Cup 2022 Qatar Album. It is built with Remix, TailwindCSS, Supabase and Prisma."
      image="/assets/img/album.png"
      liveUrl="/about"
      githubUrl="https://github.com/adalbertopc/album-qatar-2022"
    />
  </Section>
  <Separator />
  <Section
    title="Projects"
    description="A collection of public projects I have worked on. Most of them are built with Javascript / Typescript."
  >
    <ProjectList projects={projects} />
    <div class="flex justify-center">
      <a
        href="https://www.github.com/adalbertopc"
        target="_blank"
        class="inline-flex gap-2 text-sm font-semibold px-4 py-3 transition-all bg-black hover:bg-opacity-80 text-white rounded-lg"
      >
        See more on Github{" "}
        <img
          src="/assets/icons/github.svg"
          alt="github"
          class="invert"
          width={16}
          height={16}
        />
      </a>
    </div>
  </Section>
  <Separator />
</MainLayout>
