<footer class="mt-12 text-xs">
  <a
    href="https://github.com/adalbertopcx"
    target="_blank"
    class="font-medium italic hover:underline"
  >
    GitHub
  </a>
  |
  <a
    href="http://x.com/adalcodes"
    target="_blank"
    class="font-medium italic hover:underline"
  >
    Twitter
  </a>
  |
  <a
    href="http://linkedin.com/in/adalberto-prado/"
    target="_blank"
    class="font-medium italic hover:underline"
  >
    LinkedIn
  </a>
</footer>
