---
import { Image } from "@astrojs/image/components";
---

<div class="flex gap-12">
  <div>
    <h1 class="text-5xl mb-1 font-bold">Adalberto Prado</h1>
    <h2 class="text-lg mb-3">Front End Developer</h2>
    <p>
      Software Engineer with 3+ years of experience in the industry. I have
      worked with a variety of technologies and I am always looking for new
      challenges. Experienced in building Ecommerces with Shopify and Web
      Applications with modern frameworks like NextJs and Remix.
    </p>
  </div>
  <div class="hidden sm:flex">
    <div class="w-36">
      <Image
        class="rounded-full border-8 border-white shadow-lg"
        src="/assets/img/adal.jpeg"
        alt="Adalberto Prado"
        width={250}
        height={250}
        format="jpeg"
      />
    </div>
  </div>
</div>
