---
import clsx from "clsx";

interface Props {
  links: { href: string; label: string }[];
}

const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);

const { links } = Astro.props;
---

<ul class="flex flex-row items-center gap-6">
  <li class="">
    <a href="/">Home</a>
  </li>
  {
    links.map(({ href, label }) => (
      <li
        class={clsx("transition-all p-0 rounded-none hover:font-bold", {
          "font-bold": currentPath === href.slice(1),
        })}
      >
        <a href={href}>{label}</a>
      </li>
    ))
  }
</ul>
